h1{
    background-color:aqua;
    color:tomato;
    font-family: 'Times New Roman', Times, serif;

}
aside{
    background-color:burlywood;
    color:yellow;
    font-family: 'Times New Roman', Times, serif;

}
.cat{
    background-color: darkorange;
    color: orange;
    font-family: 'Courier New', Courier, monospace'
}
.catPic{
    background-image: 'IMG_20130112_111853_032 (1).jpg';
    background-color: darkolivegreen;
}