h1{
    background-color:aqua;
    color:tomato;
    font-family: 'Times New Roman', Times, serif;

}
aside{
    background-color:burlywood;
    color:yellow;
    font-family: 'Times New Roman', Times, serif;

}